.App {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 50px;
  margin-right: 7px;
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #21222a;
  color: white;
  align-items: center;
  text-align: center;
}

.main {
  background-color: #282d35;
  background-image: url("https://www.svgrepo.com/download/327388/logo-react.svg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position-x: right;
  font-size: 20px;
  color: white;
  padding-left: 40px;
}

.main li {
  margin: 30px;
}

.main li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

.main--image {
  translate: 300px;
}
